@import url("https://use.typekit.net/rig3fih.css");

.footerWrap {
  width: 100%;
  position: fixed;
  bottom: 10px;
}

.social-media {
  font-family: termina, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0px 70px 12px;
}

.social-media > a {
  color: #B2A89F;
  text-decoration: none;
}

.zeright {
  font-family: termina, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8px;
  text-align: center;
  color: #7A6858;
}

/* tablet version */
@media only screen and (min-width: 750px) {
  .footer {
    width: 75%;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
  }

  .social-media {
    padding: 0px 0px 60px;
    font-size: 12px;
  }

  .social-media > a {
    display: inline-block;
    padding: 0 30px;
  }

  .social-media a:nth-child(1) {
    padding-left: 0px;
  }

  .linkedin {
    padding-right: 0;
  }
}